@import "../../utils/variables";

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  padding: 20px;

  > div {
    display: grid;
    grid-template-columns: auto 1fr;
    align-content: center;
    justify-items: left;
    gap: 20px;

    max-width: $xl;
    margin: 0 auto;

    > h3 {
      padding: 0;
      margin: 0;
    }

    > ul {
      display: flex;
      justify-content: flex-start;
      align-content: center;
      list-style: none;
      padding: 0;
      margin: 0;

      > li {
        margin: 0;
      }
    }
  }
}

.main {
  margin-top: -44px;
}

.footer {
  text-align: center;
  padding: 20px;
}
