@import "../../utils/variables";

.layout {
  margin: 0 auto;
  max-width: inherit;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%23cdccce' fill-opacity='0.25'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");

  > header {
    box-shadow: 5px 5px 16px 2px rgba($dark, 0.1);
  }

  > main {
    padding: 20px;
    box-shadow: 0 25px 75px rgba($dark, 0.1);
    border-radius: 17px;
    margin: 20px auto 0;
    background-color: $light;
  }
}

@mixin section-layout {
  padding: 20px;

  // content
  > div {
    max-width: $xl;
    margin: 20px auto;

    > h1 {
      margin: 1em 0;
    }

    > h3 {
      @include styled-heading;
    }
  }
}

.blog {
  @include section-layout;

  ul {
    padding-left: 0;
    list-style: none;
    position: relative;

    &:before {
      background-color: black;
      content: "";
      margin-left: -1px;
      position: absolute;
      top: 0;
      width: 2px;
      height: 100%;

      @include breakpoint(md) {
        left: 2em;
      }
    }

    > li {
      position: relative;

      > div {
        display: grid;
        gap: 20px;

        position: relative;
        top: -1.875em;
        width: 90%;
        left: 2em;
        padding: 2em 0;

        @include breakpoint(md) {
          padding: 2em;
          left: 4em;
        }

        > h3,
        > p,
        > h5 {
          padding: 0;
          margin: 0;
        }

        > a {
          width: fit-content;
        }

        &:hover > h5 {
          box-shadow: inset 40em 0 0 0 $primary;
        }

        > h5 {
          display: inline-block;
          max-width: 200px;
          width: fit-content;
          color: $light;
          background-color: $dark;
          box-shadow: inset 0 0 0 0em $primary;
          padding: 0.4em 1em 0.5em 1em;
          transition: box-shadow 0.5s ease-in 0.1s;
        }
      }

      > label {
        transition: transform 0.2s ease-in;
        transform: rotate(45deg);
        background-color: $primary;
        outline: 10px solid $light;
        display: block;
        margin: 0.5em 0.5em 0.5em -0.5em;
        position: absolute;
        top: 0;
        width: 1em;
        height: 1em;

        @include breakpoint(md) {
          left: 2em;
        }
      }

      &:hover > label {
        transform: rotate(-45deg);
        background-color: $primary;
      }
    }
  }
}
