@import "../../utils/variables";

.hero {
  min-height: 100vh;
  width: 100vw;
  max-width: 100%;

  display: grid;
  justify-content: center;
  align-content: center;
  gap: 20px;

  > * {
    margin: 0px;
  }

  @include breakpoint(md) {
    justify-content: left;
    padding: 30px;
  }

  @include breakpoint(lg) {
    grid-template-columns: 1fr 1200px 1fr;

    > * {
      grid-column: 2;
    }
  }
}

.projects {
  padding: 20px;

  // content
  > div {
    max-width: 1200px;
    margin: 20px auto;

    > h3 {
      @include styled-heading;
    }

    // ProjectCard
    > div {
      display: grid;
      gap: 20px;

      @include breakpoint(md) {
        grid-template-columns: 1fr 1fr;
      }

      @include breakpoint(lg) {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }
}
